/* cardStyles.css */

.icon-box {
    position: relative;
    background: var(--border-gradient-onyx);
    width: 30px;
    height: 30px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: var(--orange-yellow-crayola);
    box-shadow: var(--shadow-1);
    z-index: 1;
  }
  
  .icon-box::before {
    content: "";
    position: absolute;
    inset: 1px;
    background: var(--eerie-black-1);
    border-radius: inherit;
    z-index: -1;
  }
  
  .icon-box ion-icon { --ionicon-stroke-width: 35px; }
  
  article { display: none; }
  
  article.active {
    display: block;
    animation: fade 0.5s ease backwards;
  }
  
  @keyframes fade {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  .h2,
  .h3,
  .h4,
  .h5 {
    color: var(--white-2);
    text-transform: capitalize;
  }
  
  .h2 { font-size: var(--fs-1); }
  
  .h3 { font-size: var(--fs-2); }
  
  .h4 { font-size: var(--fs-4); }
  
  .h5 {
    font-size: var(--fs-7);
    font-weight: var(--fw-500);
  }
  
  .article-title {
    position: relative;
    padding-bottom: 7px;
  }
  
  .content-card {
    position: relative;
    background: var(--border-gradient-onyx);
    padding: 15px;
    padding-top: 45px;
    border-radius: 14px;
    box-shadow: var(--shadow-2);
    cursor: pointer;
    z-index: 1;
  }
  
  .content-card::before {
    content: "";
    position: absolute;
    inset: 1px;
    background: var(--bg-gradient-jet);
    border-radius: inherit;
    z-index: -1;
  }
  
  .info-content .name {
    color: var(--white-2);
    font-size: var(--fs-3);
    font-weight: var(--fw-500);
    letter-spacing: -0.25px;
    margin-bottom: 10px;
  }
  
  .info-content .title {
    color: var(--white-1);
    background: var(--onyx);
    font-size: var(--fs-8);
    font-weight: var(--fw-300);
    width: max-content;
    padding: 3px 12px;
    border-radius: 8px;
  }
  
  .info_more-btn {
    position: absolute;
    top: -15px;
    right: -15px;
    border-radius: 0 15px;
    font-size: 13px;
    color: var(--orange-yellow-crayola);
    background: var(--border-gradient-onyx);
    padding: 10px;
    box-shadow: var(--shadow-2);
    transition: var(--transition-1);
    z-index: 1;
  }
  
  .info_more-btn::before {
    content: "";
    position: absolute;
    inset: 1px;
    border-radius: inherit;
    background: var(--bg-gradient-jet);
    transition: var(--transition-1);
    z-index: -1;
  }
  